<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vuejs treeni</title>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
	        <h1>Vuejs treeniä</h1>
      	</div>
      	<div class="row">
      		<div class="col-md-12">
	      		<p>Tutoriaali: <a href="https://www.youtube.com/watch?v=DsuTwV0jwaY" target="_blank">Youtubessa</a> by devdojo <br>
				Vue:n sivuilta löytyvä tutoriaali: <a href="http://vuejs.org/guide/" target="blank">http://vuejs.org/guide/</a></p>
      		</div>
      	</div>
		<div class="app row">
			<div class="col-md-4">
				<h2>Kirjoita tänne!</h2>
				<input v-model="message">
				<p>{{ message }}</p>
			</div>
			<div class="col-md-4">
			<h2>Lista</h2>
				<ul>
					<li v-for="food in food_items">{{ food }}</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2>JS alert nappula</h2>
				<button v-on:click="buttonClick">Click Me</button>
			</div>
		</div>
	</div>

	<script>
	new Vue({
		el: ".app",
		data: {
			"message": "Hello World!!",
			"tut": "www.youtube.com/watch?v=DsuTwV0jwaY",
			"food_items" : ["hamburger", "hot dog", "fries"]
		},
		methods: {
			buttonClick: function(){
				alert("Hey! I was clicked");
			}
		}
	});
	</script>
</body>
</html>